{% extends "dashboard_base.html" %}

{% load component_tags %}

{% block sidebar_content %}
    {% include "etablissement/sidebar_etablissement.html" %}
{% endblock sidebar_content %}

{% block dashboard_content %}
    <div class="d-flex flex-column h-100">
        {% component "page_header"
            title="Historique des réponses"
            subtitle="Consultez l'historique des réponses générées par l'IA et celles provenant de Google."
            icon="fa-solid fa-clock-rotate-left"
        %}
            {% fill "actions" %}
                {% component "feature_toggle" feature_name="Réponses IA" icon="fa-solid fa-robot" feature_field="ai_responses_enabled" feature_enabled=etablissement.ai_responses_enabled %}{% endcomponent %}
            {% endfill %}
        {% endcomponent %}
        <div id="historique-content"
             hx-get="{% url 'dashboard:etablissement:ai_responses:historique_content' %}"
             hx-trigger="load"
             hx-swap="morph:innerHTML">
        </div>
    </div>
{% endblock dashboard_content %}
