<div {% if card_id %}id="{{ card_id }}"{% endif %}
     class="card shadow-sm border rounded-4 {{ card_classes }}">
    <div class="card-header bg-primary border-bottom px-4 py-3 {{ header_classes }}">
        <h2 class="h6 fw-semibold mb-0 text-white">
            {% if icon %}<i class="{{ icon }} me-2"></i>{% endif %}
            {{ title }}
        </h2>
    </div>
    <div class="card-body p-4 g-0 {{ body_classes }}">
        {% slot "body" default %}
        {% endslot %}
    </div>
</div>
