{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="fr" class="h-full bg-gray-900">
    <head>
        <title>StarShield</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}

        <script defer src="{% static 'icons/brands.min.js' %}"></script>
        <script defer src="{% static 'icons/solid.min.js' %}"></script>
        <script defer src="{% static 'icons/fontawesome.min.js' %}"></script>

    </head>

    <body class="h-full">

        {% block content %}
        {% endblock %}

    </body>

    <script src="{% static 'htmx.min.js' %}"></script>
</html>
