{% extends "dashboard_base.html" %}

{% load component_tags %}

{% block dashboard_content %}

    {% component "page_header"
        title="Vos établissements"
        subtitle="Un établissement représente votre entreprise ou lieu d'affaires sur Google. Gérez tous vos établissements depuis cette page."
        icon="fa-solid fa-building"
    / %}

    <div hx-get="{% url 'dashboard:etablissements:list' %}"
         hx-trigger="load, etablissements-updated from:body"
         hx-swap="morph:innerHTML"
         id="etablissementsTable">
    </div>
{% endblock %}