{% extends "dashboard_base.html" %}

{% load component_tags %}

{% block sidebar_content %}
    {% include "etablissement/sidebar_etablissement.html" %}
{% endblock sidebar_content %}

{% block dashboard_content %}
    <div class="d-flex flex-column h-100">
        {% component "page_header"
            title="Historique des gains"
            subtitle="Consultez l'historique des prix gagnés par vos clients sur la roue de la fortune."
            icon="fa-solid fa-trophy"
        %}
            {% fill "actions" %}
                {% include "etablissement/settings/feature_header_toggle_partial.html" with feature_field="roulette_enabled" feature_enabled=etablissement.roulette_enabled %}
                {% component "button"
                    text="Vérifier un code"
                    classes="btn-primary"
                    icon="fa-solid fa-up-right-from-square"
                    extra_kwargs={
                    "href": "{% url 'roulette:verify' request.etablissement.uuid %}"
                    }
                    %}
                {% endcomponent %}
            {% endfill %}
        {% endcomponent %}
        <div id="historique-content"
             hx-get="{% url 'dashboard:etablissement:roulette:historique_content' %}"
             hx-trigger="load, historique-updated from:body"
             hx-swap="morph:innerHTML">
        </div>
    </div>
{% endblock dashboard_content %}
