{% load static %}

<!DOCTYPE html>
<html lang="fr" class="h-100 min-vh-100">
    <head>
        <title>StarShield</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">

        <script defer src="{% static 'icons/brands.min.js' %}"></script>
        <script defer src="{% static 'icons/solid.min.js' %}"></script>
        <script defer src="{% static 'icons/fontawesome.min.js' %}"></script>

    </head>

    <body class="h-100 min-vh-100">

        {% block content %}
        {% endblock %}

    </body>

    <script src="{% static 'htmx.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
</html>
