<li class="nav-item" data-navlink-page="{{ page_name }}">
    <a href="{% url link %}" class="nav-link {% if current_page == page_name %}active{% endif %} px-3">
        <i class="{{icon}} pe-1"></i>
        {{text}}
    </a>
</li>

{% if current_page == page_name %}
    <script>
        (function() {
            const script = document.currentScript;
            const navItem = script.previousElementSibling;
            if (navItem) {
                const collapse = navItem.closest('.collapse');
                if (collapse) {
                    collapse.classList.add('show');
                }
            }
        })();
    </script>
{% endif %}